<<<<<<< HEAD
.subtitle {
    font-family: Snell Roundhand, cursive;
}

.header-image { background-image: url("beach-background.jpg"); ; background-repeat: no-repeat; background-position: 100%; background-size: cover;; }


=======
.musicleft {
    background-color: lightgreen;
}

.youtubeonly {
    background-color: lightblue;
}
main {
display: flex;
flex-direction: row;
justify-content: space-between;
}
>>>>>>> 5653132ce9277de1ab386f04fd0982a75bbb224d
