.subtitle {
    font-family: Snell Roundhand, cursive;
}

.header-image { background-image: url("beach-background.jpg"); ; background-repeat: no-repeat; background-position: 100%; background-size: cover;; }


