// /* Imported Initial Variable */
// @import "../node_modules/bulma/css/bulma.css";

// /* Setting our own variables */

// $blue: #06bcef;

// $family-sans-serif: "Helvetica", "Arial", sans-serif;

// /* Set derived variables */

// $primary: $pink;
// $danger: #0000ec;

// /* Import the rest of Bulma */

// @import "node_modules/bulma/bulma"; 