.musicleft {
    background-color: lightgreen;
}

.youtubeonly {
    background-color: lightblue;
}
main {
display: flex;
flex-direction: row;
justify-content: space-between;
}
.subtitle {
    font-family: Snell Roundhand, cursive;
}

.header-image { background-image: url("beach-background.jpg"); ; background-repeat: no-repeat; background-position: 100%; background-size: 100% ; }



#genre-list, #visual-list { 
    list-style: none;
    margin: 16px;
    padding: 0;
  }

li {
  border-bottom: solid 1px black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li:hover {

  cursor: pointer;
}
